body {
    background-color: blanchedalmond;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;

}
.content p {
    color: rgb(158, 97, 17);
}

.content p {
    background-color: bisque;
    margin: auto;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}